/*с блоком патнеров прийдется слегка поработать отдельно*/


/*не фулскрин*/
#section_2{
	max-width: 1540px;/*1540 - переменная*/
}
#section_2 > h2{/*для заголовков, т.к. они должны быть выстроены по одной линии*/
	max-width: 1540px;/*1540 - переменная*/
}


/*фулскрин*/
#section_2{
	max-width: none;
}
#section_2 > h2{/*для заголовков, т.к. они должны быть выстроены по одной линии*/
	max-width: 1540px;/*1540 - переменная*/
}


/*также чтобы все заработало я добавлю margin'ы и заменю отступы
заголовков с margin на padding, но это уже я и в css*/