.mix-in-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes overflowDelay {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes vertical-spin {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(360deg);
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2d4040;
}
html div,
body div,
html section,
body section {
  box-sizing: border-box;
}
#header {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 0px 10px 2px black;
}
#header #logo {
  margin: auto 20px auto 20px;
  display: inline;
  height: 50px;
}
#header .menu {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aliceblue;
}
#header .menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  margin: 20px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px black;
  background-color: aqua;
}
#header .menu li:hover {
  background-color: #00aeae;
}
#header .menu li a {
  text-decoration: none;
  color: #000000;
}
#header .menu li a:hover {
  color: #ff0000;
}
#header .menu::after {
  content: "menu end";
}
#header #menuToggleCheckbox {
  display: none;
}
#header #menuToggle {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px 20px;
  position: relative;
}
#header #menuToggle .menuRows {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
#header #menuToggle .menuRows span {
  display: block;
  height: 3px;
  width: 29px;
  background-color: #000000;
  margin: 5px 0;
}
#header #menuToggle .menuCross {
  position: absolute;
  top: 13px;
  transition: opacity 0.3s ease-in-out;
}
#header #menuToggle .menuCross span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #000000;
}
#header #menuToggle .menuCross span:nth-child(1) {
  transform: rotate(45deg);
}
#header #menuToggle .menuCross span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: -3px;
}
main {
  margin-top: 100px;
}
main .notificationsWrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 20px;
}
main .notifications {
  background-color: antiquewhite;
  width: 30px;
  height: 30px;
  transition: width 0.3s cubic-bezier(0.51, 0.03, 0.09, 1.6), height 0.3s cubic-bezier(0.51, 0.03, 0.09, 1.6);
  border-radius: 15px;
  overflow: hidden;
}
main .notifications::before {
  content: "4";
  background-color: red;
  box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 0.535);
  color: white;
  width: 15px;
  height: 15px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
main .notifications > div {
  padding: 5px;
  height: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}
main .notifications > div img {
  height: 20px;
  width: 20px;
}
main .notifications ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
}
main .notifications ul li {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
}
main .notifications ul li span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  background-color: #da03da;
  margin-right: 15px;
}
main .notifications ul li:hover {
  background-color: #da03da;
  transform: scale(1.2);
  box-shadow: 0px 0px 5px 0px #000000;
}
main .notifications ul li:hover span {
  background-color: antiquewhite;
}
main .notifications:hover {
  width: 150px;
  height: 150px;
  animation-name: overflowDelay;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
main .notifications:hover > div {
  background-color: #da03da;
}
main .container {
  display: flex;
  flex-wrap: wrap;
}
main .container .big {
  width: calc(100% - 20px);
  height: 300px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .container .big .buttonContainer {
  perspective: 800px;
  width: fit-content;
  height: fit-content;
}
main .container .big .buttonContainer > .button {
  width: 200px;
  height: 70px;
  margin: 30px 20px;
  text-align: center;
  font-size: 20px;
  color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .big .buttonContainer .fancyButtonA {
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}
main .container .big .buttonContainer .fancyButtonA > div {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .big .buttonContainer .fancyButtonA .front {
  background: #14da14;
  transform: translateZ(35px) rotateX(0deg);
}
main .container .big .buttonContainer .fancyButtonA .top {
  background: #06d49d;
  transform: translateY(-35px) rotateX(90deg);
}
main .container .big .buttonContainer .fancyButtonA .back {
  background: #14da14;
  transform: translateZ(-35px) rotateX(180deg);
}
main .container .big .buttonContainer .fancyButtonA .bottom {
  background: #06d49d;
  transform: translateY(35px) rotateX(270deg);
}
main .container .big .buttonContainer .fancyButtonA:hover {
  transform: rotateX(-90deg);
}
main .container .big .buttonContainer .fancyButtonB {
  border: 3px solid transparent;
  border-radius: 15px;
  color: black;
  overflow: hidden;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  --angle: 0deg;
  background-image: linear-gradient(to right, #ffffff, #ffffff), conic-gradient(from var(--angle), #da03da 0deg 70deg, #39995300 70deg 180deg, #da03da 180deg 290deg, #39995300 290deg 360deg);
  animation: conic-gradient-rotation 1.5s linear infinite;
  animation-play-state: paused;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes conic-gradient-rotation {
  0% {
    --angle: 30deg;
  }
  100% {
    --angle: 390deg;
  }
}
main .container .big .buttonContainer .fancyButtonB:hover {
  animation-play-state: running;
}
main .container .big .buttonContainer .fancyButtonC {
  border: 3px dashed red;
  background-color: #06d49d;
  color: black;
  overflow: hidden;
  border-radius: 15px;
}
main .container .big .buttonContainer .fancyButtonC::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 0px;
  box-shadow: 0px 0px 100px 50px #ffffff;
  transform: rotateZ(-30deg) translateY(-400px);
  transition: transform 1s ease;
}
main .container .big .buttonContainer .fancyButtonC:hover::before {
  transform: rotateZ(-30deg) translateY(400px);
}
main .container .big .buttonContainer .fancyButtonD {
  border: 3px solid rgba(0, 0, 0, 0.303);
  border-radius: 15px;
  background: #da03da;
  background-origin: border-box;
  overflow: hidden;
}
main .container .big .buttonContainer .fancyButtonD::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px black;
  transform: translateX(100%);
  transition: transform 1s ease;
}
main .container .big .buttonContainer .fancyButtonD:hover::before {
  transform: translateX(0);
}
main .container .gallery {
  width: calc(70% - 20px);
  margin: 10px;
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}
main .container .gallery > div {
  margin: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 2px black;
  transition: transform 0.5s ease;
}
main .container .gallery > div::before {
  content: "smth";
  color: white;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(1, 248, 5, 0.783), rgba(1, 248, 5, 0.321));
  opacity: 0;
  transition: opacity 0.5s ease;
}
main .container .gallery > div:hover {
  transform: translateY(-10px);
}
main .container .gallery > div:hover::before {
  opacity: 1;
}
main .container .gallery .smallPic {
  background-color: green;
  height: 100px;
  width: 100px;
}
main .container .gallery .mediumPic {
  background-color: blue;
  height: 100px;
  width: 200px;
}
main .container .gallery .bigPic {
  background-color: red;
  height: 100px;
  width: 300px;
}
main .container .small {
  width: calc(30% - 20px);
  height: 300px;
  background-color: #00ff22;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .small::before {
  content: "some text, that sure is a description";
  position: absolute;
  width: 100%;
  height: 60%;
  background: black;
  box-shadow: 0px 0px 10px 2px black;
  color: white;
  box-sizing: border-box;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateX(-15%);
}
main .container .small:hover::before {
  opacity: 1;
  transform: translateX(-10%);
}
main .container .glassSection {
  width: 100%;
  margin-top: 100px;
}
main .container .glassSection > div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
main .container .glassSection .firstCards > div {
  width: 300px;
  height: 200px;
  margin: 150px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .glassSection .firstCards > div .cardContent {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.117);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 5;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
}
main .container .glassSection .firstCards > div .gradientLine {
  content: "";
  position: absolute;
  width: 50%;
  height: 200%;
  left: 20%;
  transform: skew(15deg);
  transition: transform 0.6s ease-in-out;
  border-radius: 5px;
  z-index: -1;
}
main .container .glassSection .firstCards > div .gradientLine::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  z-index: -2;
  filter: blur(40px);
}
@keyframes squareFloatDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes squareFloatUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(0);
  }
}
main .container .glassSection .firstCards > div .floatingSquareTop {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.117);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 10;
  position: absolute;
  left: 17%;
  top: -100px;
  animation: squareFloatDown 3s cubic-bezier(0.59, 0.29, 0.34, 1.5) infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
main .container .glassSection .firstCards > div .floatingSquareBottom {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.117);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 10;
  position: absolute;
  right: 24%;
  bottom: -130px;
  animation: squareFloatUp 3s cubic-bezier(0.33, 0.46, 0.72, 1.31) infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
main .container .glassSection .firstCards > div:hover .floatingSquareTop {
  animation-play-state: running;
  opacity: 1;
}
main .container .glassSection .firstCards > div:hover .floatingSquareBottom {
  animation-play-state: running;
  opacity: 1;
}
main .container .glassSection .firstCards > div:hover .gradientLine {
  transform: skew(0);
}
main .container .glassSection .firstCards .card1 .gradientLine {
  background: linear-gradient(to bottom, #f40632, #d400ff);
  filter: brightness(0.85);
}
main .container .glassSection .firstCards .card1 .gradientLine::before {
  background: linear-gradient(to bottom, #f40632, #d400ff);
}
main .container .glassSection .firstCards .card2 .gradientLine {
  background: linear-gradient(to bottom, #ff0000, #ffff00);
}
main .container .glassSection .firstCards .card2 .gradientLine::before {
  background: linear-gradient(to bottom, #ff0000, #ffff00);
}
main .container .glassSection .firstCards .card3 .gradientLine {
  background: linear-gradient(to bottom, #ff00ff, #00ffff);
}
main .container .glassSection .firstCards .card3 .gradientLine::before {
  background: linear-gradient(to bottom, #ff00ff, #00ffff);
}
main .container .glassSection .secondCards {
  background: linear-gradient(to right top, #00ffb7, #dffd00, #ff01c8);
  position: relative;
}
main .container .glassSection .secondCards .background {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  backdrop-filter: blur(20px);
}
main .container .glassSection .secondCards > div {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  margin: 80px 20px 100px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px black;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
main .container .glassSection .secondCards > div .topCircle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes zIndexDelayHovered {
  from {
    z-index: 2;
  }
  to {
    z-index: 4;
  }
}
@keyframes zindexDelayBackground {
  from {
    z-index: 1;
  }
  to {
    z-index: 3;
  }
}
main .container .glassSection .secondCards > div:hover {
  animation: zIndexDelayHovered;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
main .container .glassSection .secondCards > div:hover ~ .background {
  animation: zIndexDelayBackgroud;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  opacity: 1;
}
main .container .glassSection .secondCards .card1 .topCircle {
  background-color: #00ffb7;
}
main .container .glassSection .secondCards .card2 .topCircle {
  background-color: #dffd00;
}
main .container .glassSection .secondCards .card3 .topCircle {
  background-color: #ff01c8;
}
footer {
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px 0;
  width: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
}
footer i {
  font-family: FontAwesome;
  font-style: normal;
}
footer .socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .socials .social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6), -4px -4px 10px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: #fff;
  overflow: hidden;
  position: relative;
}
footer .socials .social::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: linear-gradient(to bottom right, #f40632, #d400ff);
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out;
}
footer .socials .social:hover::before {
  transform: translateY(0);
}
@media (max-width: 768px) {
  #header {
    display: initial;
  }
  #header #menuToggle {
    display: initial;
  }
  #header .menu {
    flex-direction: column;
    align-items: center;
  }
  #header .menu li {
    margin: 10px;
    width: 200px;
  }
  #header #menuToggleCheckbox:checked + label#menuToggle .menuRows {
    opacity: 0;
  }
  #header #menuToggleCheckbox:checked + label#menuToggle .menuCross {
    opacity: 1;
  }
  #header #menuToggleCheckbox:not(:checked) + label#menuToggle .menuRows {
    opacity: 1;
  }
  #header #menuToggleCheckbox:not(:checked) + label#menuToggle .menuCross {
    opacity: 0;
  }
  #header #menuToggleCheckbox:not(:checked) + label#menuToggle + ul.menu {
    height: 0;
  }
  main .container {
    flex-direction: column;
    align-items: center;
  }
  main .container .big {
    flex-direction: column;
    height: fit-content;
  }
  main .container .gallery {
    width: calc(100% - 20px);
  }
  main .container .small {
    width: calc(50% - 20px);
  }
}
