@import url("vars.less");

main{
	margin-top: 150px;

	#notificationsAdd{
		margin: 20px;
	}
	.notificationsWrapper{
		position: relative;
		width: fit-content;
		height: fit-content;
		margin: 20px;
	}
	.notifications{
		background-color: antiquewhite;
		
		width: 30px;
		height: 30px;
		transition: width 0.3s cubic-bezier(.51,.03,.09,1.6), height 0.3s cubic-bezier(.51,.03,.09,1.6);
		border-radius: 15px;
		overflow: hidden;
		&::before{
			content: attr(data-before);
			background-color: red;
			box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 0.535);
			color: white;
			width: 15px;
			height: 15px;
			font-size: 12px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: -5px;
			right: -5px;
		}
		>div{
			padding: 5px;
			height: 30px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			transition: background-color 0.3s ease-in-out;
			
			img{
				height: 20px;
				width: 20px;
			}
		}
		ul{
			list-style-type: none;
			padding-inline-start: 0;
			margin: 0;
			padding: 0;
			height: 120px;
			overflow-y: scroll;
			overflow-x: hidden;
			li{
				box-sizing: border-box;
				padding: 5px;
				width: 100%;
				height: 30px;
				font-size: 16px;
				line-height: 20px;
				border-radius: 10px;
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
				transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
				display: flex;
				span{
					width: 20px;
					height: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					transition: background-color 0.3s ease-in-out;
					background-color: @myPurple;
					margin-right: 15px;
					cursor: pointer;
					transform-origin: center;
					font-size: 24px;
					transform: rotate(45deg);
				}
				&:hover{
					background-color: @myPurple;
					transform: scale(1.05);
					box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
					span{
						background-color: antiquewhite;
					}
				}
			}
		}
	}
	.notifications:hover{
		width: 150px;
		height: 150px;
		// animation-name: overflowDelay;
		// animation-delay: 0.3s;
		// animation-fill-mode: both;
		>div{
			background-color: @myPurple;
		}
	}

	.container{
		display: grid;
		grid-template-columns: 7fr 3fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas: 
			"big big"
			"gallery small"
			"glass glass"
			"glass glass";
		padding: 0px 20px;
		gap: 20px;
		.big{
			height: 300px;
			margin: 10px;
			grid-area: big;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			
			.buttonContainer{
				perspective: 800px;
				width: fit-content;
				height: fit-content;
				>.button{
					width: @buttonWidth;
					height: @buttonHeight;
					margin: 30px 20px;
					text-align: center;
					font-size: 20px;
					color: white;
					position: relative;
					cursor: pointer;
					.mix-in-flex-center();
				}
				.fancyButtonA{
					transition: transform 0.5s ease;
					transform-style: preserve-3d;
					>div{
						width: 100%;
						height: 100%;
						border: 1px solid black;
						color: black;
						position: absolute;
						.mix-in-flex-center();
					}
					@halfHeight: (@buttonHeight / 2);
					.front{
						background: @frontColor;
						transform: translateZ(@halfHeight) rotateX(0deg); //order is important ffffffck
					}
					.top{
						background: @topColor;
						transform: translateY(-@halfHeight) rotateX(90deg);
					}
					.back{
						background: @frontColor;
						transform: translateZ(-@halfHeight) rotateX(180deg);
					}
					.bottom{
						background: @topColor;
						transform: translateY(@halfHeight) rotateX(270deg);
					}
					&:hover{
						transform: rotateX(-90deg);
					}
					// &{
					// 	animation: vertical-spin 5s infinite linear;
					// }
					
				}
				.fancyButtonB{
					border: 3px solid transparent;
					border-radius: 15px;
					color: black;
					overflow: hidden;
					background-clip: padding-box, border-box;
					background-origin: border-box;
					--angle: 0deg;
					@property --angle {
						syntax: "<angle>";
						initial-value: 0deg;
						inherits: false;
					}
					background-image:
						linear-gradient(to right, rgb(255 255 255), rgb(255 255 255)),
						conic-gradient(
							from var(--angle),
							(@myPurple) 0deg 70deg,
							#39995300 70deg 180deg,
							(@myPurple) 180deg 290deg,
							#39995300 290deg 360deg
						);
					@keyframes conic-gradient-rotation {
						0%{
							--angle:30deg;
						}
						100%{
							--angle: 390deg;
						}
					}
					animation: conic-gradient-rotation 1.5s linear infinite;
					animation-play-state: paused;
					&:hover{
						animation-play-state: running;
					}
				}
				.fancyButtonC{
					border: 3px dashed red;
					background-color: @topColor;
					color: black;
					overflow: hidden;
					border-radius: 15px;
					&::before{
						content: "";
						position: absolute;
						width: 800px;
						height: 0px;
						//background-image: linear-gradient(to top right, transparent, rgba(255, 255, 255, 0.364), transparent);
						box-shadow: 0px 0px 100px 50px rgb(255, 255, 255);
						transform: rotateZ(-30deg) translateY(-400px);
						transition: transform 1s ease;
					}
					&:hover{
						&::before{
							transform: rotateZ(-30deg) translateY(400px);
						}
					}
				}
				.fancyButtonD{
					border: 3px solid rgba(0, 0, 0, 0.303);
					border-radius: 15px;
					background: @myPurple;
					background-origin: border-box;
					overflow: hidden;
					&::before{
						content: "";
						position: absolute;
						width: 200%;
						height: 100%;
						border-radius: 15px;
						//background: @myPurple;
						box-shadow: 0px 0px 5px 0px black;
						transform: translateX(100%);
						transition: transform 1s ease;
					}
					&:hover{
						&::before{
							transform: translateX(0);
						}
					}
				}
			}
			
		}
		.gallery{
			margin: 10px;
			//background-color: burlywood;
			display: grid;
			grid-area: gallery;
			grid-template-columns: repeat(6, 100px);
			grid-auto-rows: 100px;
			grid-auto-flow: row dense;
			gap: 20px;
			padding: 10px;
			place-items: stretch;
			>div{
				position: relative;
				box-shadow: 0px 0px 10px 2px black;
				transition: transform 0.5s ease;
				&::before{
					content: "smth";
					color: white;
					font-size: 20px;
					line-height: 24px;
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: flex-end;
					box-sizing: border-box;
					padding-bottom: 20px;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(to top, rgba(1, 248, 5, 0.783), rgba(1, 248, 5, 0.321));
					opacity: 0;
					transition: opacity 0.5s ease;
				}
				&:hover{
					transform: translateY(-10px);
					&::before{
						opacity: 1;
					}
				}
			}
			.smallPic{
				background-color: green;
				grid-column-end: span 1;
				grid-row-end: span 1;
			}
			.mediumPic{
				background-color: blue;
				grid-column: span 1;
				grid-row-end: span 2;
			}
			.bigPic{
				background-color: red;
				grid-column-end: span 2;
				grid-row-end: span 1;
			}
		}
		.small{
			grid-area: small;
			height: 300px;
			background-color: rgb(0, 255, 34);
			margin: 10px;
			position: relative;
			.mix-in-flex-center();
			&::before{
				content: "some text, that sure is a description";
				position: absolute;
				width: 100%;
				height: 60%;
				background: black;
				box-shadow: 0px 0px 10px 2px black;
				color: white;
				box-sizing: border-box;
				padding-left: 40px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				transition: transform 0.3s ease, opacity 0.3s ease;
				opacity: 0;
				transform: translateX(-15%);
			}
			&:hover{
				&::before{
					opacity: 1;
					transform: translateX(-10%);
				}
			}
		}
		.glassSection{
			grid-area: glass;
			width: 100%;
			margin-top: 100px;
			> div{
				display: flex;
				justify-content: space-evenly;
				flex-wrap: wrap;
				align-items: center;
			}
			.firstCards{
				> div{
					width: 300px;
					height: 200px;
					margin: 150px 20px;
					position: relative;
					.mix-in-flex-center();

					.cardContent{
						width: 100%;
						height: 100%;
						background-color: rgba(255, 255, 255, 0.117);
						border-radius: 10px;
						backdrop-filter: blur(10px);
						z-index: 5;
						box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
									 -4px -4px 10px rgba(0, 0, 0, .1);
					}
					.gradientLine{
						content: "";
						position: absolute;
						width: 50%;
						height: 200%;
						left: 20%;
						transform: skew(15deg);
						transition: transform 0.6s ease-in-out;
						border-radius: 5px;
						z-index: -1;
						&::before{
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							left: 0;
							bottom: 0;
							border-radius: 5px;
							z-index: -2;
							filter: blur(40px);
						}
					}
					@keyframes squareFloatDown {
						0% {
							transform: translateY(0);
						}
						50%{
							transform: translateY(90px);
						}
						100%{
							transform: translateY(0);
						}
					}
					@keyframes squareFloatUp {
						0% {
							transform: translateY(0);
						}
						50%{
							transform: translateY(-90px);
						}
						100%{
							transform: translateY(0);
						}
					}
					.floatingSquareTop{
						width: 70px;
						height: 70px;
						border-radius: 5px;
						background-color: rgba(255, 255, 255, 0.117);
						box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
									 -4px -4px 10px rgba(0, 0, 0, .1);
						backdrop-filter: blur(5px);
						z-index: 10;
						position: absolute;
						left: 17%;
						top: -100px;
						animation: squareFloatDown 3s cubic-bezier(.59,.29,.34,1.5) infinite;
						animation-play-state: paused;
						opacity: 0;
						transition: opacity 0.2s ease-in-out;
					}
					.floatingSquareBottom{
						width: 70px;
						height: 70px;
						border-radius: 5px;
						background-color: rgba(255, 255, 255, 0.117);
						box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
									 -4px -4px 10px rgba(0, 0, 0, .1);
						backdrop-filter: blur(5px);
						z-index: 10;
						position: absolute;
						right: 24%;
						bottom: -130px;
						animation: squareFloatUp 3s cubic-bezier(.33,.46,.72,1.31) infinite;
						animation-play-state: paused;
						opacity: 0;
						transition: opacity 0.2s ease-in-out;
					}

					&:hover{
						.floatingSquareTop{
							animation-play-state: running;
							opacity: 1;
						}
						.floatingSquareBottom{
							animation-play-state: running;
							opacity: 1;
						}
						.gradientLine{
							transform: skew(0);
						}
					}
				}
				.card1{
					.gradientLine{
						background: linear-gradient(to bottom, rgb(244, 6, 50), rgb(212, 0, 255));
						filter: brightness(0.85);
						&::before{
							background: linear-gradient(to bottom, rgb(244, 6, 50), rgb(212, 0, 255));
						}
					}
				}
				.card2{
					.gradientLine{
						background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 255, 0));
						&::before{
							background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 255, 0));
						}
					}
				}
				.card3{
					.gradientLine{
						background: linear-gradient(to bottom, rgb(255, 0, 255), rgb(0, 255, 255));
						&::before{
							background: linear-gradient(to bottom, rgb(255, 0, 255), rgb(0, 255, 255));
						}
					}
				}
			}
			.loginWrapper{
				.mix-in-flex-center();
				.loginCont{
					margin: 150px 40px;
					position: relative;
					.mix-in-flex-center();
					.login{
						width: 800px;
						height: 400px;
						padding: 30px 20px;
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-template-rows: repeat(5, 1fr);
						grid-template-areas: 
							"log log"
							"username password"
							"email phone"
							"text text"
							"button .";
						justify-items: stretch;
						align-items: center;
						gap: 15px 20px;
						background-color: rgba(255, 255, 255, 0.117);
						border-radius: 10px;
						backdrop-filter: blur(10px);
						z-index: 10;
						box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
								-4px -4px 10px rgba(0, 0, 0, .1);
						h2{
							font-size: 30px;
							font-weight: 600;
							color: #fff;
							text-align: center;
							margin-bottom: 20px;
							grid-area: log;
						}
						input:not([type=submit]){
							height: 40px;
							border: none;
							border-radius: 5px;
							padding: 0 10px;
							background-color: rgba(255, 255, 255, 0.117);
							box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
											-4px -4px 10px rgba(0, 0, 0, .1);
							transition: background-color 0.2s ease-in-out;
							&::placeholder{
								color: lightgray;
							}
							&:hover{
								background-color: rgba(255, 255, 255, 0.2);
							}
						}
						input[name="username"]{
							grid-area: username;
						}
						input[name="password"]{
							grid-area: password;
						}
						input[name="phone"]{
							grid-area: phone;
						}
						input[name="email"]{
							grid-area: email;
						}
						input[name="text"]{
							grid-area: text;
						}
						input[type=submit]{
							grid-area: button;
							width: min-content;
							border: none;
							border-radius: 5px;
							padding: 10px 15px;
							background-color: rgb(255, 255, 255);
							box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
											-4px -4px 10px rgba(0, 0, 0, .1);
							cursor: pointer;
							&::placeholder{
								color: gray;
								font-size:20px;
							}
							&:active{
								transform: scale(0.95);
							}
						}
					}
					.floatingSquare{
						background-color: rgba(255, 255, 255, 0.117);
						border-radius: 10px;
						backdrop-filter: blur(10px);
						@keyframes moveStar {
							0%{
								transform: translate(0, 0);
							}
							20%{
								transform: translate(20px, -100px);
							}
							40%{
								transform: translate(40px, 0);
							}
							60%{
								transform: translate(50px, -60px);
							}
							80%{
								transform: translate(-20px, -70px);
							}
							100%{
								transform: translate(0, 0);
							}
						}
						@keyframes moveTriangle {
							0%{
								transform: translate(0, 0);
							}
							33%{
								transform: translate(10px, 70px);
							}
							66%{
								transform: translate(50px, 30px);
							}
							100%{
								transform: translate(0, 0);
							}
						}
						&.one{
							width: 100px;
							height: 100px;
							position: absolute;
							top: 110px;
							left: -110px;
							animation: moveStar 7s ease-in-out infinite alternate;
							z-index: 8;
						}
						&.two{
							width: 80px;
							height: 80px;
							position: absolute;
							top: -60px;
							right: -45px;
							animation: moveTriangle 5s ease-in-out infinite;
							z-index: 11;
						}
						&.three{
							width: 60px;
							height: 60px;
							position: absolute;
							top: 250px;
							right: -50px;
							animation: moveStar 6s ease-in-out infinite;
							z-index: 9;
						}
						&.four{
							width: 50px;
							height: 50px;
							position: absolute;
							bottom: -10px;
							left: 60px;
							animation: moveTriangle 4s ease-in-out infinite reverse;
							z-index: 11;
						}
						&.five{
							width: 35px;
							height: 35px;
							position: absolute;
							top: 10px;
							left: 150px;
							animation: moveStar 5s ease-in-out infinite reverse;
							z-index: 13;
						}
					}
				}
			}
			.secondCards{
				background: linear-gradient(to right top, rgb(0, 255, 183), rgb(223, 253, 0), rgb(255, 1, 200));
				position: relative;
				.background{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity 0.3s ease-in-out;
					z-index: 1;
					backdrop-filter: blur(20px);
				}
				> div{
					width: 200px;
					height: 300px;
					border-radius: 5px;
					margin: 80px 20px 100px 20px;
					background-color: rgb(255, 255, 255);
					box-shadow: 0px 0px 10px 2px black;
					position: relative;
					overflow: hidden;
					z-index: 20;
					.topCircle{
						width: 220px;
						height: 220px;
						border-radius: 50%;
						position: absolute;
						top: -100px;
						left: 50%;
						transform: translateX(-50%);
						z-index: -1;
					}
					&:hover{
						&~.background{
							opacity: 1;
						}
					}
				}
				.card1{
					.topCircle{
						background-color: rgb(0, 255, 183);
					}
				}
				.card2{
					.topCircle{
						background-color: rgb(223, 253, 0);
					}
				}
				.card3{
					.topCircle{
						background-color: rgb(255, 1, 200);
					}
				}
			}
			.thirdCards{
				position: relative;
				> div{
					width: 200px;
					height: 300px;
					margin: 100px 20px;
					border: 5px solid;
					border-color: #1c1c1c;
					transition: border-color 0.8s ease-in-out, filter 0.3s ease-in-out;
					filter:brightness(0.8);
					color: white;
					overflow: hidden;
					background-clip: padding-box, border-box;
					background-origin: border-box;
					position: relative;
					z-index: 20;
					--angle: 0deg;
					@property --angle {
						syntax: "<angle>";
						initial-value: 0deg;
						inherits: false;
					}
					background-image:
						linear-gradient(to right, rgb(0, 51, 110) 0% 50%, rgb(0, 28, 59) 50% 100%),
						conic-gradient(
							from var(--angle),
							(#1c1c1c) 0deg 130deg,
							@myPurple 180deg,
							(#1c1c1c) 180deg 310deg,
							@myPurple 360deg
						);
					@keyframes conic-gradient-rotation {
						0%{
							--angle:0deg;
						}
						100%{
							--angle: 360deg;
						}
					}
					animation: conic-gradient-rotation 1.5s linear infinite;
					&:hover{
						border-color: transparent;
						filter:brightness(1.2);
						.cardNumber{
							opacity: 1;
							transform: translateY(0px);
						}
					}
					.cardNumber{
						font-size: 50px;
						font-weight: bold;
						margin: 15px 20px;
						color:rgb(0, 85, 182);
						position: absolute;
						top: 0;
						right: 0;
						opacity: 0.1;
						z-index: -10;
						transform: translateY(70px);
						transition: all 0.3s ease-in-out;
					}
					&.cardHover{
						filter: brightness(0.6);
					}
				}
			}
		}

		#listSection{
			background-color: aliceblue;
			margin: 50px auto;
			width: calc(100% - 160px);
			>ul{
				margin-top: 30px;
				li{
					font-size: 24px;
					margin: 10px 5px;
					border: 1px solid black;
					border-radius: 10px;
					padding: 10px;
					cursor: pointer;
					&.selected{
						background-color: rgb(0, 255, 183);
						border-width: 3px;
					}
				}
			}
		}

		#jsCenteredPicWrapper{
			background-color: aqua;
			margin: 50px auto;
			width: 100%;
			height: 800px;
			position: relative;
			.centeredPic{
				position: absolute;
				background-color: chartreuse;
				width: 60%;
				height: 30%;
				max-width: 1600px;
				max-height: 800px;
			}
		}

		.rangeWrapper{
			position: relative;
			#myRange{
				-webkit-appearance: none;
				width: 100%;
				height: 15px;
				margin: 30px auto;
				border-radius: 5px;
				background: #d3d3d3;
				outline: none;
				opacity: 0.7;
				-webkit-transition: .2s;
				transition: opacity .2s;
				&:hover{
					opacity: 1;
				}
				&::-webkit-slider-thumb{
					-webkit-appearance: none;
					appearance: none;
					width: 25px;
					height: 45px;
					border-radius: 20%;
					background: #009fd9;
					cursor: pointer;
				}
			}
			.circle{
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: transparent;
				border: 2px solid rgb(0, 255, 106);
				transform-origin: center;
				position: absolute;
				top: 30px;
				z-index: -1;
			}
		}
		
	}
}
footer{
	background-color: rgba(0, 0, 0, .1);
	box-sizing: border-box;
	padding: 20px 0;
	width: 100%;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
		-4px -4px 10px rgba(0, 0, 0, .1);
	i{
		font-family: FontAwesome;
		font-style: normal;
	}
	.socials{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-items: center;
		align-items: center;
		row-gap: 20px;
		.social{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			.mix-in-flex-center();
			box-shadow: 4px 4px 10px rgba(0, 0, 0, .6),
				-4px -4px 10px rgba(0, 0, 0, .1);
			font-size: 24px;
			color: #fff;
			overflow: hidden;
			position: relative;
			&::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -20;
				background: linear-gradient(to bottom right, rgb(244, 6, 50), rgb(212, 0, 255));
				transform: translateY(-100%);
				transition: transform 0.2s ease-in-out;
			}
			&:hover{
				&::before{
					transform: translateY(0);
				}
			}
		}
	}
}

@media (min-width: 960px) and (max-width: 1200px){
	main{
		.container{
			.gallery{
				grid-template-columns: repeat(4, 100px);
			}
			.glassSection{
				.loginWrapper{
					.loginCont{
						.login{
							width: 400px;
						}
					}
				}
			}
		}
	}
} 
@media (min-width: 640px) and (max-width: 960px){
	main{
		.container{
			grid-template-columns: 1fr;
			grid-template-areas: 
				"big"
				"gallery"
				"small"
				"glass";
			.gallery{
				grid-template-columns: repeat(5, 100px);
			}
			.glassSection{
				.loginWrapper{
					.loginCont{
						.login{
							width: 400px;
						}
					}
				}
			}
		}
	}
	footer{
		.socials{
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
	}
} 
@media (max-width: 640px) {
	main{
		.container{
			grid-template-columns: 1fr;
			grid-template-areas: 
				"big"
				"gallery"
				"small"
				"glass";
			.big{
				flex-direction: column;
				height: fit-content;
			}
			.gallery{
				grid-template-columns: repeat(2, 100px);
			}
			.small{
				width: calc(50% - 20px);
			}
			.glassSection{
				.loginWrapper{
					.loginCont{
						.login{
							width: 100%;
							grid-template-areas: 
							"log log"
							"username username"
							"password password"
							"email email"
							"phone phone"
							"text text"
							"button .";
						}
					}
				}
			}
		}
	}
	footer{
		.socials{
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
	}
}